.Loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #0f273d; */
  width: 100%;
}

.Loading-text {
  margin-bottom: 20px;
  font-size: large;
}

.Loading {
    width: 48px;
    height: 48px;
    display: inline-block;
    border: 2px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
    animation: rotate 1s infinite linear;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  